{# src/templates/contact/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}{{ 'nav.contact'|trans }}{% endblock%}

{% block body %}
    <header>
        <h1>{{ 'nav.contact'|trans }}</h1>
    </header>


{% for flashMessage in app.session.flashbag.get('contact-notice') %}
    <div class="contact-notice">
     {   { flashMessage }}
    </div>
{% endfor %}

    <p>{{ 'contact.msg'|trans({}, 'contact') }}</p>


    <form action="{{ path('contact') }}" method="post" class="contact">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.body) }}

        {{ form_rest(form) }}

        <input type="submit" value="{{ 'contact.submit'|trans({}, 'contact') }}" />
    </form>
{% endblock %}
